@model IEnumerable<KarimStore.Models.InvoiceHistory>

@{
    ViewBag.Title = "ViewInvoiceHistoriesAsEmp";
}

<h2>Invoices</h2>
<style>
    .MyFont {
        font-family: 'DejaVu Math TeX Gyre';
    }
</style>
<table class="table table-striped thead-dark table-hover MyFont">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditInvHistory", new { id=item.InvoicesHistoryID }, new { @class = "btn btn-sm btn-primary" }) |
            @Html.ActionLink("Details", "HistoryDetails", new { id=item.InvoicesHistoryID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "DeleteFromInvHistory", new { id=item.InvoicesHistoryID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
